     <div id="myCarousel" class="carousel slide" data-interval="30000" data-ride="carousel">

       <!-- Carousel items -->
       <div class="carousel-inner">
        <div class="active item">
          <h3>Meteorites</h3>
          <p class="main">
            This is celestial, a site that presents information about meteorites through profiles, pictures, graphs, maps and a globe.  Meteorites are crumbs of asteroids and comets that come to stay with us here on Earth.<br><br>
            Our Earth provides an atmosphere and home for animals and plants unlike any other planet we know of. Earth does this as a member of our Solar System that we share with diverse bodies of mass including other stars, planets, moons, comets, asteroids and countless meteorites.
          </p>
        </div>

        <div class="item">
          <h3>Willamette Meteorite</h3>
          <p>
            This is the Willamette Meteorite, it was discovered in Oregon and remains the largest meteorite found on the North American continent. It was discovered in modern times by the settler Ellis Hughes in 1902. It has religious significance to the Grand Ronde Native American Tribes of that region; they call it Tomanowos. The Willamette Meteorite has a distinct spongy appearance because its time on earth caused chemical reactions to produce acid that wore away parts of the original mass. The picture with the boys was taken in 1910; the meteorite is still in the Museum, but we can't sit in it anymore.</p>

            <div class="figure_div">
              <figure>
                <%=image_tag 'willamette.png'  %>
                <figcaption> Two young boys sitting in the Willamette Meteorite</figcaption>
              </figure>
            </div>
          </div>


          <div class="item">
            <h3> Hoba Meteorite</h3>
            <p>
              This is the Hoba Meteorite, the largest meteorite known on Earth, discovered in 1920. It is also the most massive naturally ocurring piece of iron on the surface of the Earth. You may also notice the flatness of the object. Scientists theorize the Hoba meteorite skipped across our Earth's airspace like a flat stone over water. Our atmosphere could provide enough resistance to even an object this massive at its outer edge. The meteorite is located in Namibia in the southern part of Africa.</p>

              <div class="figure_div">
                <figure>
                  <%=image_tag 'hoba.png'%>
                  <figcaption> German Geologists with the Hoba in 1929</figcaption>
                </figure>
              </div>

              <div class="pie_chart">
              </div>
            </div>

            <div class="item">
              <h3> Cape York Meteorite</h3>
              <p>
                This is a piece of the Cape York Meteorite, a collection of parts known to the Inuit community in several distinct parts including the Tent, the Man, the Woman and the Dog in their native language. It was discovered scientifically in 1818, but like many of the meteorites we profile it probably fell to Earth more than 10,000 years ago. On our time slide the Cape York Meteorite impact is featured in 1818. Look how far north it was first documented. The picture featured here is of the largest piece, the Tent, or Ahnighito, as it is known traditionally.
              </p>
              <div class="figure_div">
                <figure>
                  <%=image_tag 'ahnighito.png'%>
                  <figcaption> The largest piece, Ahnighito</figcaption>
                </figure>
              </div>

              <div class="pie_chart">
              </div>
            </div>

            <div class="item">
              <h3> Sikhote-Alin Meteorite</h3>
              <p>
                This meteorite landed in Russia relatively recently on February 12, 1947 at 10:38 AM. The eyewitness accounts said the sound could be heard from 300km away, and that there was a 30km long pillar of smoke behind the objects. The photograph featured here shows someone attempting to retrieve a large fragment of the meteorite using a truck.</p>

                <div class="figure_div">
                  <figure>
                    <%=image_tag 'sikhotefall.png'%>
                    <figcaption> Someone pulling debris using a truck</figcaption>
                  </figure>
                </div>
              </div>

              <div class="item">
                <h3> Campo del Cielo Meteorite</h3>
                <p>
                  This meteorite was first documented by a Northern Argentinian military man in 1576 while in search of a source of iron. The Native community in the region said they found iron for their weapons in the Piguem Nonralta or Campo del Cielo (Field of Heaven) and claimed the mass fell from the sky. Later in 1783 another Spanish expedition led by Rubin de Celis discovered the mass of iron and thought it was an iron mine. De Celis used explosives to excavate the "mine" only to discover the mass was a single object; he did however decide to send some samples to the Royal Society of London. The Royal Society of London classified as a meteorite and the Native population was of course proven correct, the mass did come from the sky after all.</p>
                  <div class="figure_div">
                    <figure>
                      <%= image_tag 'campo.jpg' %>
                      <figcaption> Fragment of the meteorite</figcaption>
                    </figure>
                  </div>
                </div>


                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                  <li data-target="#myCarousel" data-slide-to="4"></li>
                  <li data-target="#myCarousel" data-slide-to="5"></li>
                </ol>
              </div>
